@model Tuple<List<ThreeChildKategori>,List<OneChildKategoriler>, List<TwoChildKategoriler>>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/IdentityServer4.Client.styles.css" asp-append-version="true" />
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" asp-action="Index" asp-controller="Home">E-Ticaret</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">
        </ul>


    </div>
</nav>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
            
          <script>
    const ul=document.querySelector(".navbar-nav");
    var threeChildKategori = @Html.Raw(Json.Serialize(Model.Item1));
    var oneChildKategori = @Html.Raw(Json.Serialize(Model.Item2));
    var TwoChildKategori = @Html.Raw(Json.Serialize(Model.Item3));

    for(let category of threeChildKategori)
    {
        var createli = document.createElement("li");
        createli.className = "categoryli";
        var createa = document.createElement("a");
        createa.className = "categorya";
        createa.className="nav-link";
        createa.textContent = category.threeChildKategoriName;
        createli.appendChild(createa);
        ul.appendChild(createli);       



        for(twoChildCategories of TwoChildKategori)
        {
            if(twoChildCategories.threeChildKategoriID==category.id)
            {
                var createsubli = document.createElement("li");
                createsubli.className = "categoryli";
                var createsuba = document.createElement("a");
                createsuba.textContent=twoChildCategories.twoChildKategoriName;
                createsuba.style.color="red";
                createsuba.href = `/Urunler/Ustkategori?kategori=${twoChildCategories.twoChildKategoriName}`
                createsuba.className = "categorya";
                createsuba.className = "nav-link";
                createsubli.appendChild(createsuba);
                createli.appendChild(createsubli);


                for(oneChildCategories of oneChildKategori)
                {
                    if(oneChildCategories.twoChildKategori!=null)
                    {
                        if(twoChildCategories.id==oneChildCategories.twoChildKategoriID)
                        {
                            var createsubsubli = document.createElement("li");
                            createsubsubli.className = "categoryli";
                            var createsubsuba = document.createElement("a");
                            createsubsuba.style.color="orange";
                            createsubsuba.textContent = oneChildCategories.oneChildKategoriName;
                            createsubsuba.href = `/Urunler/AltKategori?kategories=${oneChildCategories.oneChildKategoriName}`;
                            createsubsuba.className = "categorya";
                            createsubsuba.className = "nav-link";
                            createsubsubli.appendChild(createsubsuba);
                            createsubli.appendChild(createsubsubli);
                        }
                    }
                    if(oneChildCategories.threeChildKategori!=null)
                    {
                        if (oneChildCategories.threeChildKategoriID == category.id)
                        {
                            var anasubli = document.createElement("li");
                            anasubli.className = "categoryli";
                            var anasubba = document.createElement("a");
                            anasubba.style.color="orange";
                            anasubba.textContent = oneChildCategories.oneChildKategoriName;
                            anasubba.href = `/Urunler/AltKategori?kategories=${oneChildCategories.oneChildKategoriName}`;
                            anasubba.className = "categorya";
                            anasubba.className = "nav-link";
                            anasubli.appendChild(anasubba);
                            createli.appendChild(anasubli);
                        }
                    }
                }
            }
        }
        for (oneChildCategories of oneChildKategori) 
        {
            if (oneChildCategories.twoChildKategori != null) 
            {
                if (twoChildCategories.id == oneChildCategories.twoChildKategoriID)
                {
                    var createsubsubli = document.createElement("li");
                    createsubsubli.className = "categoryli";
                    var createsubsuba = document.createElement("a");
                    createsubsuba.style.color="orange";
                    createsubsuba.textContent = oneChildCategories.oneChildKategoriName;
                    createsubsuba.href = `/Urunler/AltKategori?kategories=${oneChildCategories.oneChildKategoriName}`
                    createsubsuba.className = "categorya";
                    createsubsuba.className = "nav-link";
                    createsubsubli.appendChild(createsubsuba);
                    createsubli.appendChild(createsubsubli);
                }
            }
            if (oneChildCategories.threeChildKategori != null)
            {
                if (oneChildCategories.threeChildKategoriID == category.id) 
                {
                    var anasubli = document.createElement("li");
                    anasubli.className = "categoryli";
                    var anasuba = document.createElement("a");
                    anasuba.style.color="orange";
                    anasuba.textContent = oneChildCategories.oneChildKategoriName;
                    anasuba.href = `/Urunler/Altkategori?kategories=${oneChildCategories.oneChildKategoriName}`;
                    anasuba.className = "categorya";
                    anasuba.className = "nav-link";
                    anasubli.appendChild(anasuba);
                    createli.appendChild(anasubli);
                }
            }
        }
    }
          </script>
