@model List<ProductDetailDto>
@{
    Layout = "~/Views/Shared/_LayoutUrunler.cshtml";
}


<script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"></script>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/IdentityServer4.Client.styles.css" asp-append-version="true" />



<div asp-validation-summary="All">
</div>

<p>Urune tıklanınca buraya düsüp, ürün bilgilerini gösterecek</p>


<script>

    






</script>

               