@{
    Layout = "~/Views/Shared/_LayoutUrunler.cshtml";
}
@model List<UstKategoriUrunlerDto> 



@foreach (UstKategoriUrunlerDto item in Model)
{
    @foreach (var urunler in item.UrunDtos)
    {
        <p>@urunler.UrunName @urunler.UrunID</p>

    }
}

