<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IdentityServer4.Client.styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">E-Ticaret</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                     <a class="nav-link" asp-action="SignOut" asp-controller="Kullanici">Çıkış Yap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="KayitOl" asp-controller="Kullanici">Sepetim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Urun Ara</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Urun Ekle</a>
                </li>
            </ul>
        </div>
    </nav>

   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

</body>
</html>







