@using Microsoft.AspNetCore.Authentication;
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Claim Type</th>
            <th>Claim Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in User.Claims)
        {
            <tr>
                <td>@item.Type</td>
                <td>@item.Value</td>
            </tr>

        }
    </tbody>

</table>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Auth Type</th>
            <th>Auth Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in (await Context.AuthenticateAsync()).Properties.Items)
        {
            <tr>
                <td>@item.Key</td>
                <td>@item.Value</td>
            </tr>

        }
    </tbody>
</table>