


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" asp-action="Index" asp-controller="Home">E-Ticaret</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            @if(User.Identity.IsAuthenticated)
            {
                <li class="nav-item active">
                    <a class="nav-link" asp-action="SignOut" asp-controller="Kullanici">Çıkış Yap</a>
                </li>
            }
            else
            {
                <li class="nav-item active">
                    <a class="nav-link" asp-action="GirisYap" asp-controller="Kullanici">Giriş yap</a>
                </li>
            }
            @if(User.Claims.FirstOrDefault(x=>x.Value=="Admin")!=null)
            {
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Index" asp-controller="Admin">Admin panele git</a>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link" asp-action="KayitOl" asp-controller="Kullanici">Kayıt ol</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="KayitOl" asp-controller="Kullanici">Sepetim</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Urun Ara</a>
            </li>
        </ul>
    </div>
</nav>