@{
    Layout = "~/Views/Shared/_LayoutUrunler.cshtml";
}

<script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"></script>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/IdentityServer4.Client.styles.css" asp-append-version="true" />
<style>
    .genelDiv {
        width: 100%;
    }

    .Kategoriler {
        border: 2px solid gray;
        margin: 50px;
        border-radius: 5%;
        width: 10rem;
        height: 30rem;
    }

    .productList {
        border: 2px solid gray;
    }

    .urunsayisi {
        /* margin-bottom: 50px; */
        padding-bottom: 10px;
        border-bottom: 2px solid gray;
        text-align: center;
        /* width: 100%; */
    }

    .kategoriMarka {
        border-bottom: 2px solid gray;
        padding-top: 10px;
        /* width: 100%; */
    }

    #Input0 {
        margin-top: 15px;
    }

    .Inputs {
        width: 50px;
    }


    .kategorip {
        margin-left: 10px;
    }

    .GenelKapsam {
        display: flex;
        align-items: baseline;
        justify-content: left;
    }

    .fiyatAralik {
        padding-left: 10px;
        padding-bottom: 20px;
        border-bottom: 2px solid gray;
    }

    .degerlendirme {
        padding-left: 10px;
    }

    .degerlendirmep {
        margin-bottom: 5px;
    }

</style>

<div asp-validation-summary="All">
</div>


<div class="genelDiv">
    <div class="GenelKapsam">
        <div class="Kategoriler">
            <div class="urunsayisi">
                <p class="urungir"></p>
            </div>

            <div class="kategoriMarka">
                <h4 class="kategorip">Marka</h4>
            </div>

            <div class="fiyatAralik">
                <h4 id="fiyataralikp">Fiyat Aralığı</h4>
                <input type="text" placeholder="En az" class="Inputs" />
                <input type="text" placeholder="En çok" class="Inputs" />
            </div>

            <div class="degerlendirme">
                <h4 id="degerlendirmep">Değerlendirmeler</h4>
                <input type="radio" class="evaulation" value="abc" />
                <label>4 yıldız ve üzeri</label>
                <br>
                <input type="radio" class="evaulation" value="def" />
                <label>3 yıldız ve üzeri</label>
                <br>
                <input type="radio" class="evaulation" value="ghe" />
                <label>2 yıldız ve üzeri</label>
                <br>
                <input type="radio" class="evaulation" value="jkl" />
                <label>1 yıldız ve üzeri</label>

            </div>
        </div>

        <div class="productList">
            <p>ASADSAD</p>
            <ul class="productListUl"></ul>
        </div>

    </div>

</div>


<script>
    const productLists = document.querySelector(".productListUl");
    //const AltKategori = @Html.Raw(Json.Serialize(TempData["abc"])); //burayı duzelt altkategori null geliyor
    const Markap=document.querySelector(".kategorip");
    const kategoriUrunSayisip=document.querySelector(".urungir");
    const storedDataAltKategori= localStorage.getItem("Categories");
    console.log(storedDataAltKategori);
    let kategoriID=0;
    const dizi=[];

        const JsonSerializeStoredAltData=JSON.parse(storedDataAltKategori);
    console.log(JsonSerializeStoredAltData);
        kategoriID=JsonSerializeStoredAltData.data[0].id;
    console.log(JsonSerializeStoredAltData.data[0].markalarDtos[0].markaName);
        for (let Datam of JsonSerializeStoredAltData.data[0].urunDtos) 
        {
         var UrunLi=document.createElement("li");
         UrunLi.textContent=Datam.urunName;
         productLists.appendChild(UrunLi);
        }

    for (let kategorim in JsonSerializeStoredAltData.data[0].markalarDtos) 
    {
        if (dizi.indexOf(JsonSerializeStoredAltData.data[0].markalarDtos[kategorim].markaName) == -1) {
            const input = document.createElement("input");
            input.type = "radio";
            input.id = `Input${kategorim}`
            input.value = JsonSerializeStoredAltData.data[0].markalarDtos[kategorim].markaName;
            const label = document.createElement("label");
            label.innerHTML = JsonSerializeStoredAltData.data[0].markalarDtos[kategorim].markaName;

            Markap.append(document.createElement("br"));
            Markap.append(input);
            Markap.appendChild(label);
        }
        dizi.push(JsonSerializeStoredAltData.data[0].markalarDtos[kategorim].markaName);

    } 
     

    



    function AltKategoriGonder(Alperen)
    {
        return new Promise((resolve,reject)=>{
            $.ajax({
                type: 'GET',
                url: `https://localhost:7237/api/Urunler/KategoriGetir/${AltKategori}`,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + Alperen);
                },
                success: function (data) {
                    console.log(data);
                    for (let Marka in data.data[0].kategoriDtos[0].markalarDtos) {
                        if (dizi.indexOf(data.data[0].kategoriDtos[0].markalarDtos[Marka].markaName) == -1) {
                            const input = document.createElement("input");
                            input.type = "radio";
                            input.id = `Input${Marka}`
                            input.value = data.data[0].kategoriDtos[0].markalarDtos[Marka].markaName;
                            const label = document.createElement("label");
                            label.innerHTML = data.data[0].kategoriDtos[0].markalarDtos[Marka].markaName;

                            Markap.append(document.createElement("br"));
                            Markap.append(input);
                            Markap.appendChild(label);
                        }
                        dizi.push(data.data[0].kategoriDtos[0].markalarDtos[Marka].markaName);
                    }
                },
                error: function (error) {
                    console.log(error);
                },
            });


        });
        
    }

  


    
    //function UrunSayisiApi(Alperen) //burası düzeltilecek
    //{
    //    $.ajax({
    //        type: 'GET',
    //        url: `https://localhost:7237/api/Urunler/UrunSayisi/${kategoriID}`,
    //        beforeSend: function (xhr) {
    //            xhr.setRequestHeader('Authorization', 'Bearer ' + Alperen);
    //        },
    //        success: function (data) {
    //            kategoriUrunSayisip.textContent = data.data + ' adet ürün bulundu';
    //            console.log(data);

    //        },
    //        error: function (error) {
    //            console.log(error);
    //        },

    //    });
    //}

    
    
   //alt kategori ve üst kategori için ayrı api den alıcaz ve döndürücez
    

    function getAccessTokens() {
        return $.ajax({
            type: 'POST',
            url: 'https://localhost:7291/connect/token',
            data: {
                grant_type: 'client_credentials',
                client_id: 'Client1',
                client_secret: 'secret'
            },
        });
    }

    getAccessTokens().done(async function (accessTokenResponses)
    {
        var Alperen = accessTokenResponses.access_token;
        
      //const promisesMarka= AltKategoriGonder(Alperen);
      //await promisesMarka;
    });

   

</script>
