


<div asp-validation-summary="All"></div>

<form asp-action="RoleUpdate" asp-controller="Role" method="post">
    <label>Role giriniz</label>
    <input name="kullaniciName" />
    <button>Değiştir</button>
</form>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-info" role="alert">@TempData["SuccessMessage"]</div>
}
