@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-info" role="alert">@TempData["SuccessMessage"]</div>
}


<form asp-action="RoleUpdate" asp-controller="Admin" method="post">
    <label>Role giriniz</label>
    <input name="RoleName" />
    <button>Değiştir</button>
</form>


<div asp-validation-summary="All"></div>